*.rsuser
*.suo
*.user
*.usermd
*.slded
*.opened
obj/
bin/

.vs/
[Db]ebug/
[Rr]elease/
x64/
x86/
bsearch
成果.txt

*.nuget.props
*.nuget.targets
packages/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.Local.json